:root {
  --primary-color: #fd5ba7cf;
  --box-shadow: 3px 5px 5px #3f2430;
}
body {
  max-width: auto;
  margin: auto;
}
main {
  margin: 80px;
}
h1 {
  font-size: 85px;
}
a {
  text-decoration: none;
  color: black;
}
.main-page {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}
.menu-button {
  margin: 30px;
  padding: 20px;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.menu-button:hover {
  background-color: white;
  color: var(--primary-color);
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.home-image {
  border-radius: 100px;
}
.menu-image {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  width: 200px;
  margin: 30px;
  transition: transform 0.3s ease-in-out;
}
.menu-image:hover {
  transform: scale(1.2);
}
.order-button {
  margin: 10px;
  padding: 10px;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}
.order-button:hover {
  background-color: white;
  transform: scale(1.2);
}
.review-board {
  text-align: center;
  height: 300px;
  width: 600px;
  padding: 25px;
  margin-left: 350px;
  backdrop-filter: blur(10px);
  background-color: rgba(225, 225, 225, 0.7);
  border-radius: 10px;
}
.contact-info {
  border: 1px solid var(--primary-color);
}
.details {
  width: 300px;
  margin-top: 15px;
  font-size: 18px;
}
.review-button {
  background-color: var(--primary-color);
  font-size: 24px;
  border-radius: 8px;
  border: 3px solid var(--primary-color);
}
@media (min-width: 400px) {
  h1 {
    font-size: 45px;
  }
  main {
    margin: 60px;
  }
  .review-board {
    display: flex;
  }
}
